<%= link_to "WalkMe", root_path, :class => 'brand', :id=>"root" %>
<ul class="nav">
  <li><a href="#request-invite" data-toggle="modal" role="button">Request a Demo</a></li>
  <li><a href="/features">Features</a></li>
  <li><a href="/">Blog</a></li>
  <li><a href="/blog/archives">Archives</a></li>
  <li><a href="/about">About Us</a></li>
  <li><a href="/extension.crx">Chrome extension</a></li>
  <li><a href="/app/demo">Demoing</a></li>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% else %>
<!--     <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li> -->
  <% end %>
</ul>
